[report]
exclude_lines = 
    def _get_link_so_top_answer
    def _highlight_link
    def get_stackoverflow
    return None
    def __repr__
    raise TypeError
    return False 
    raise ValueError
    if enable_prompt:
